.form {
  width: 18rem;
  margin: 0.5rem 0;
  padding: 0;
  display: block;
}

.formselect {
  font-size: 0.875rem;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border: 1px solid #d8d9db;
  background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
  background-size: 20px;
  background-position:  right 10px center;
  background-color: #fff;
  padding-left: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0.25rem;
  border-radius: 2px;
}

.formselect:hover {
  border: 2px solid #da3743;
  padding: 5px calc(0.25rem - 1px);
}

.optionwrapper {
  display: block;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: absolute;
  background-color: #fff;
  width: 18rem;
  border-top: 0 none;
  font-size: 0.875rem;
  border-radius: 2px;
  border: 1px solid #d8d9db;
  box-sizing: border-box;
}
.option {
  padding: 0.5rem 0.25rem;
  display: block;
  background-color: #fff;
  font-size: 0.875rem;
}

.option:hover {
  padding: 0.5rem 0.25rem;
  display: block;
  background-color: #f7f7f7;
  color: #da3743;
  cursor: pointer;
}

.selected {
  margin: 0 0 0 0.25rem;
  font-weight: 500;
  line-height: 1.43;
  font-size: 0.875rem;
  color: #6f737b;
  cursor: pointer;
}