.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 6rem;
  position: relative;
  flex: none;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.userName {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  text-align: center;
  word-break: break-word;
  color: #2d333f;
}

.userLocation {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.43;
  color: #6f737b;
  margin-bottom: 0.5rem;
}

.userTotalReviews {

  font-size: 12px;
  font-weight: bold;
  line-height: 1.43;

  white-space: nowrap;
  color: #6f737b;
}

.reviewBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d8d9db;
  color: #2d333f;
}

.reviewRating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d333f;
}

.dineDate {
  margin: 0 0.5rem 0 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.ratingsText {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.43;
  text-transform: capitalize;
  margin: 0 0.5rem 0 0;
}

.ratingsNum {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.43;
  color: #da3743;
}

.stars {
  width: calc(16px * 5 + 0.25rem * 5);
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  display: block;
  color: #2d333f;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.25rem;
  color: #2d333f;
  font-weight: 500;
  line-height: 1.43;
}

.fullStyleRed {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #da3743; /* or transparent, any color */
  overflow: hidden;
  white-space: pre; /* to preserve the spaces from collapsing */
  margin-right: 0.25rem;
}

.fullStyleGrey {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #d8d9db; /* or transparent, any color */
  overflow: hidden;
  white-space: pre; /* to preserve the spaces from collapsing */
  margin-right: 0.25rem;
}