.reviewBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d8d9db;
  color: #2d333f;
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 6rem;
  position: relative;
  flex: none;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.userName {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  text-align: center;
  word-break: break-word;
  color: #2d333f;
}

.userLocation {
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.43;
  color: #6f737b;
  margin-bottom: 0.5rem;
}

.userTotalReviews {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.43;
  white-space: nowrap;
  color: #6f737b;
}

.reviewWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.reviewWrapperUpper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.reviewRating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #2d333f;
}

.dineDate {
  margin: 0 0.5rem 0 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.ratingsText {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.43;
  text-transform: capitalize;
  margin: 0 0.5rem 0 0;
}

.ratingsNum {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.43;
  color: #da3743;
}

.stars {
  width: calc(16px * 5 + 0.25rem * 5);
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  display: block;
  color: #2d333f;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.25rem;
  color: #2d333f;
  font-weight: 500;
  line-height: 1.43;
}

.fullStyleRed {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #da3743; /* or transparent, any color */
  overflow: hidden;
  white-space: pre; /* to preserve the spaces from collapsing */
  margin-right: 0.25rem;
}

.fullStyleGrey {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #d8d9db; /* or transparent, any color */
  overflow: hidden;
  white-space: pre; /* to preserve the spaces from collapsing */
  margin-right: 0.25rem;
}

.textBodyHide {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  max-height: calc(3rem * 1.5);
}

.textBodyShow {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: visible;
  text-overflow: inherit;
  -webkit-line-clamp: inhert;
  max-height: inherit;
}

.text {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.readMore {
  display: block;
  margin-bottom: 0;
  color: #da3743;
  text-decoration: none;
  font-weight: normal;
  font-size: inherit;
  height: 24px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: transparent;
}

.readMore:hover {
  text-decoration: underline;
  cursor: pointer;
}

.readMore.focus {

}

.right {
  display: flex;
  position: relative;
  align-self: flex-start;
}

.report {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #2d333f;
}

.reportText {
  margin: 0 0 0 0.25rem;
  font-weight: 500;
  line-height: 1.43;
  font-size: 0.875rem;
  color: #6f737b;
}

.reportText:hover {
  color: #da3743;
}

.helpful {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #2d333f;
}

.reviewReport {
  position: absolute;
  background: #ffffff;
  z-index: 1000;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(51,51,51,.2);
  bottom: 2.5rem;
  right: -5.5rem;
  max-width: 25rem;
  display: block;
}

.reviewReportHeader {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: flex-end;
  background-color: #ffffff;
  line-height: 2rem;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
  color: #2d333f;
}

.reviewReportHeaderText {
  font-size: 1.125rem;
  justify-content: center;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
  color: #2d333f;
}

.reviewReportBody {
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto;
  display: block;
}

.reviewReportBodyText {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  display: flex;
  color: #2d333f;
}

.reviewReportForm {
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  /* overflow: auto; */
  color: inherit;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 11px system-ui;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
}

.reviewReportFormButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #2d333f;
}

.submitButton {
  padding: .75rem 1rem;
  text-decoration: none;
  background-color: #da3743;
  color: #ffffff;
  border: none;
  font-size: 1rem;
  line-height: 1.5;
  width: 18rem;
  font-weight: 500;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 1rem;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.cancelButton {
  margin-right: 0;
  padding: calc(.75rem - 1px) calc(1rem - 1px);
  border: 1px solid #d8d9db;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  width: 18rem;
  font-weight: 500;
  border-radius: 2px;
  color: #2d333f;
  display: inline-block;
  box-sizing: border-box;
  background-color: #ffffff;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  font: inherit;
  margin: 0;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}


