.container {
  padding-top: 1rem;
  max-width: 100%;
  display: block;
}

.noiseoverall {
  display: flex;
  align-items: center;
}

.noise {
  margin: 0 0 0 0.25rem;
  font-weight: 500;
  line-height: 1.43;
  font-size: 0.875rem;
  color: #6f737b;
}

.noise:hover {
  color: #da3743;
}

#normal {
  font-weight: normal;
}

